<h3>Citas Pendientes</h3>
<table>
    <thead>
        <th>
            <td>
                ID
            </td>
            <td>
                VEHICULO ID
            </td>
            <td>
                REFACCION ID
            </td>

            <td>
                FECHA
            </td>
            <td>
                Tipo de Mantenimiento
            </td>
            <td>
                Descripcion
            </td>
        </th>
    </thead>
    <tbody id="area_citas">

    </tbody>
</table>